<li class="card-lecture" >
    <a class="lecture-title" href="#">웹 프로그래밍</a>
    <h6 class="lecture-time">
        <i class="material-icons ic-lecture-info">access_time</i>
        <span>09:00 - 10:50 | (월), (수)</span>
    </h6>
    <ul class="list-lecture-info">
        <li>교과목 코드 : A0000001</li>
        <li>담당 교수 : 김진수</li>
        <li>강의실 : 공학관 204</li>
    </ul>
</li>