<li class="card-lecture" >
    <a class="lecture-title" href="#">웹 프로그래밍</a>
    <h6 class="lecture-time">
        <i class="material-icons ic-lecture-info">access_time</i>
        <span>{{startTime}} - {{endTime}} | {{dayOfWeek}}</span>
    </h6>
    <ul class="list-lecture-info">
        <li>교과목 코드 : {{code}}</li>
        <li>담당 교수 : {{professor}}</li>
        <li>강의실 : {{building}}동 {{room}}</li>
    </ul>
</li>