<div class="lecture-id" style="display:none">1</div>
<h3 class="lecture-title">웹 프로그래밍</h3>
<ul class="lecture-info">
    <li class="lecture-time">
        <i class="material-icons ic-lecture-info">access_alarm</i>
        <span>강의 시간 : 09:00 - 10:50 | (월), (수)</span>
    </li>
    <li class="lecture-code">
        <i class="material-icons ic-lecture-info">code</i>
        <span>교과목 코드 : A0000001</span>
    </li>
    <li class="lecture-code">
        <i class="material-icons ic-lecture-info">school</i>
        <span>담당 교수 : 김진수</span>
    </li>
    <li class="lecture-code">
        <i class="material-icons ic-lecture-info">business</i>
        <span>강의실 : 공학관 204</span>
    </li>
</ul>
<div class="lecture-description">
    <p class="txt-description">본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및
        실무 능력을 갖출 수 있도록 합니다.
    </p>
</div>

<div class="lecture-memo">
    <h5 class="memo-header">메모</h5>
    <ul>
        <li class="memo-list">
            <div class="memo-content" data-toggle="tooltip" data-placement="top" title="" data-original-title="과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트">
                <i class="material-icons ic-lecture-noti">assignment</i>
                <span class="lecture-noti-title">과제 제목 텍스트</span>
            </div>
            <div class="memo-btn">
                <a href=""><i class="material-icons ic-lecture-noti">delete</i></a>
            </div>
        </li>
    </ul>
</div>