<li class="lecture-time hr-10" data-event="lecture-09">
    <a href="#">
        <div class="lecture-info">
            <h6 class="lecture-title">데이터 통신</h6>
            <h6 class="lecture-location">공학1관 102</h6>
        </div>
    </a>
</li>